header{color: yellow;}
p{text-decoration-color: aqua;}
div.a{font-size: 5px;}
body{background-color: bisque;}
h1{border: 5px solid red;}
h2{color: 5px solid red;}
h3{font-size: 5px pink;}
h4{font-size: 5px italic ; color: green}
p.a.{font: 5px Arial, sans-serif;}
